<ion-header>
  <ion-navbar color="primary">
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> About </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="./assets/imgs/event-manage.png" style="display:block; margin:auto;">
  <br>
  <div text-center>
    <ion-title color="light">Version: <b>1.00</b></ion-title>
    <br>
    <button ion-button round (click)="openPrivacyPolicy()" color="primary">Privacy Policy</button>
    <br>
    <br>
    <br>
    <ion-title color="light">Questions/Suggestions?</ion-title>
    <ion-note ion-text class="email-id">eventmanagement@gmail.com</ion-note>
  </div>
</ion-content>
