// page-login {
//   .login {
//     background-image: url('../../assets/imgs/background.jpg');
//     padding-top: 50px;
//     overflow: hidden !important;
//   }

//   .logo {
//     margin: 25px 0 0 20px;
//   }

//   .login .card,
//   .login.card-md {
//     margin: 10px
//   }

//   .scroll-content {
//     padding-bottom: 0 !important;
//   }

//   .danger {
//     color: white;
//   }
// }


page-login {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100vw;
    position: relative;
    background:url(../assets/imgs/background-img.jpg);

    .inner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
 
    .list-md .item-input.item-input-has-focus:last-child,
    .list-md .item-input.input-has-focus:last-child {
      border-bottom-color: #dedede;
      -webkit-box-shadow: none;
      box-shadow: none;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: #dedede;
  -webkit-box-shadow: none;
  box-shadow: none;
}

      .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #dedede;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #dedede;
  -webkit-box-shadow: none;
  box-shadow: none;
}

    .label-md, .label-ios{
        margin: 13px 8px 13px 8px;
     }

      @media screen and (min-width: '720px') {
        width: 720px;
        min-width: 720px;
        max-width: 720px;
        margin: auto;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;

    img {
      width: 65%;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: 80%;

    ion-label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      color: $secondary-0;
    }

    .action-buttons {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

    }
  }

  .third-party-buttons {
    p {
      width: 100%;
    }
  }

  .forgot-password {
    margin-top: 15px;
    width: 100%;
    text-align: center;

    a {
      color: #adadad !important;
    }
  }
  .sign-up-link{
    margin-top: 15px;
    width: 100%;
    text-align: center;

    a {
      color: #adadad !important;
    }
  }
}
