page-register {
  .register {
    background-image: url('../../assets/imgs/background.jpg');
    padding-top: 50px;
    overflow: hidden !important;
  }

  .register .card,
  .register.card-md {
    margin: 100px 10px 50px 10px;
  }
}
