<ion-header>
  <ion-navbar color="primary">
    <ion-title align-title="left">Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" padding>
  <form novalidate [formGroup]="registerForm" (ngSubmit)="submit(registerForm.value, registerForm.valid)">
    <ion-list>
      <ion-item no-padding>
        <ion-label stacked>Firstname</ion-label>
        <ion-input required name="firstname" type="text" formControlName="firstname" placeholder="Enter Firstname"
          appAlphabetOnly></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label stacked>Lastname</ion-label>
        <ion-input required name="lastname" type="text" formControlName="lastname" placeholder="Enter Lastname"
          appAlphabetOnly></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label stacked>Email</ion-label>
        <ion-input required name="email" type="email" formControlName="email" placeholder="Enter Email"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label stacked>Mobile No</ion-label>
        <ion-input required name="mobileno" type="tel" formControlName="mobileno" placeholder="Enter Mobile No"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label stacked>Password</ion-label>
        <ion-input required min="6" name="password" type="password" formControlName="password" placeholder="Enter Password"></ion-input>
      </ion-item>
    </ion-list>
    <button type="submit" class="register-button" [disabled]="!registerForm.valid" ion-button full round>Register</button>
    <button type="button" class="login-button" color="secondary" ion-button full round (click)="login()">Login</button>
  </form>
  <footer></footer>
</ion-content>
