<ion-content class="register" no-bounce>
  <ion-card>
    <ion-card-header text-center [style.background-color]="'#c9c5cc'" color="light">Sign Up</ion-card-header>
    <form novalidate [formGroup]="registerForm" (ngSubmit)="register(registerForm.value, registerForm.valid)">
      <ion-list no-lines>
        <ion-item>
          <ion-label floating>Email Address</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div padding>
          <button type="submit" ion-button block color="primary" [disabled]="!registerForm.valid">Register</button>
          <button type="button" ion-button block (click)="login()">Login</button>
        </div>
      </ion-list>
    </form>
  </ion-card>
  <div class="content-wrapper">
      <div padding>
        <button ion-button block icon-start [style.backgroundColor]="'#3b5998'">
          <ion-icon name="logo-facebook"></ion-icon>
          Signup With Facebook
        </button>
      </div>
      <div padding>
        <button ion-button block icon-start [style.backgroundColor]="'#d34836'">
          <ion-icon name="logo-googleplus"></ion-icon>
          Signup With Google+
        </button>
      </div>
    </div>
</ion-content>
