page-register {
  .scroll-content {
    background:url(../assets/imgs/background-img.jpg);
  }
.item-md{
  background-color: transparent;
  color:#fff;
}
.item-input, .item-ios{
  background-color: transparent;

  .label-md, .label-ios, .text-input{
  color:#fff;
  }

}
  .register-button {
    margin: 30px 0 0 0;
    color: #fff;
  background-color: #b51983;
  }

  
  .login-link{
    margin-top: 15px;
    width: 100%;
    text-align: center;

    a {
      color: #adadad !important;
    }
  }
}
