<ion-header>
  <ion-navbar color="danger">
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="center_screen">
    <form novalidate [formGroup]="registerForm" (ngSubmit)="submit(registerForm.value, registerForm.valid)">
      <div class="input_area">
        <ion-icon name="md-person"></ion-icon>
        <input type="text" placeholder="Firstname" formControlName="firstname">
      </div>
      <div class="input_area">
        <ion-icon name="md-person"></ion-icon>
        <input type="text" placeholder="Lastname" formControlName="lastname">
      </div>
      <div class="input_area">
        <ion-icon name="md-mail"></ion-icon>
        <input type="text" placeholder="E-mail Id" formControlName="email">
      </div>
      <div class="input_area">
        <ion-icon name="md-call"></ion-icon>
        <input type="text" placeholder="Mobile No" formControlName="mobileno">
      </div>
      <div class="input_area">
        <ion-icon name="md-lock"></ion-icon>
        <input type="password" placeholder="Password" formControlName="password">
      </div>
      <button type="submit" ion-button margin-top full color="danger" round>Sign up</button>
      <button type="button" ion-button margin-top full color="primary" round (click)="login()">Log in</button>
    </form>
  </div>
</ion-content>
