<ion-header>
  <ion-navbar color="danger">
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forgot-password">
  <div text-center>
    <ion-img width="120" height="120" src="../../assets/imgs/logo-icon.png" class="logo"></ion-img>
  </div>
  <ion-card>
    <ion-card-header text-center [style.background-color]="'#c9c5cc'" color="light">Forgot password</ion-card-header>
    <form novalidate [formGroup]="resetPasswordForm" (ngSubmit)="submit(resetPasswordForm.value, resetPasswordForm.valid)">
      <ion-list no-lines>
        <ion-item>
          <ion-label for="email" floating></ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div padding>
          <button type="submit" ion-button block color="danger">Forgot
            Password</button>
        </div>
      </ion-list>
    </form>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <ion-buttons>
      <button small ion-button block (click)="goToLogin()">
        <small>Already have an account?&nbsp;<strong>Log in</strong></small>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
