<ion-header>
  <ion-navbar color="primary">
    <ion-title align-title="left">Forgot Password</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce has-bouncing="false">
  <div class="forgot-password-form">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit(forgotPasswordForm.value, forgotPasswordForm.valid)">
      <div class='section'>
        <p>Provide you email address so we can help you retreive your account.</p>
        <ion-item no-padding>
          <ion-label stacked>Email Address</ion-label>
          <ion-input type="email" formControlName="email" name="email" placeholder="Email Address"></ion-input>
        </ion-item>
        <ion-buttons margin-top>
          <button ion-button color="primary" type="submit" block [disabled]="!forgotPasswordForm.valid">Submit</button>
        </ion-buttons>
      </div>
    </form>
  </div>
</ion-content>
