<ion-content>
    <ion-header>
      <ion-navbar color="danger">
        <ion-title>Forgot Password</ion-title>
      </ion-navbar>
    </ion-header>
  
    <ion-content class="login">
      <div text-center>
        <ion-img width="120" height="120" src="../../assets/imgs/logo-icon.png" class="logo"></ion-img>
      </div>
      <ion-card>
        <ion-card-header text-center [style.background-color]="'#c9c5cc'" color="light">Forgot password</ion-card-header>
        <form novalidate [formGroup]="resetPasswordForm" (ngSubmit)="submit(resetPasswordForm.value, resetPasswordForm.valid)">
          <ion-list no-lines>
            <ion-item>
              <ion-label for="email" floating></ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <div padding>
              <button type="submit" ion-button block color="primary">Forgot
                Password</button>
            </div>
          </ion-list>
        </form>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <button ion-button outline (click)="goToLogin()" float-left>Login</button>
            </ion-col>
            <ion-col col-6>
              <button ion-button outline (click)="goToSignup()" float-right>Sign up!</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-content>
  