<ion-header>
  <ion-navbar color="primary">
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Company </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list [virtualScroll]="companyList">
    <ion-item button class="company-label" *virtualItem="let company">
      <ion-label text-left>{{ company?.name }}</ion-label>
      <ion-label text-center (click)="goToCompanyInfo(company)">
        <ion-icon name="arrow-dropright-circle"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addCompany()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
