<ion-header>
  <ion-navbar color="danger">
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Company List</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search" [(ngModel)]="queryText" (ionInput)="updateCompany()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="refreshAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let company of companyList">
      <ion-item button class="company-label" (click)="goToCompanyInfo(company)">
        <ion-label>{{ company?.name }}</ion-label>
        <p>{{ company?.createdBy }}</p>
        <p>{{ userId }}</p>
      </ion-item>
      <ion-item-options *ngIf="company.createdBy === userId" side="right">
        <button ion-button color="primary" (click)="editCompany(slidingItem, company)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button expandable color="danger" (click)="deleteCompany(slidingItem, company)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="addCompany()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>