page-profile {
  .user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $section-spacer;

    .user-details {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: $section-bg-color;
      border-top: $border-style;

      .user-class {
        display: flex;
        font-size: 15px;
        padding: 15px;
        border-bottom: 1px solid #eee;
        color:#676767;

        ion-icon {
          font-weight: bold;
          width: 30px;
          color: #327eff;
          text-align: center;
          padding-right: 10px;
        }
      }
    }
  }

  .actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: $section-spacer 0;
    background: $section-bg-color;

    .action-button {
      text-align: center;

      ion-icon {
        margin-right: 8px;
      }
    }
  }
}
