<ion-header>
  <ion-navbar color="primary">
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> My Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
  <ng-container *ngIf="user">
    <div class="user-section">
      <div class="user-details" padding-horizontal>
        <img class="user-img" src="../../assets/imgs/user_placeholder.png" alt="Event manager Logo">

        <div class="user-class">
          <ion-icon name="person" item-start></ion-icon>
          {{ user.Fullname }}
        </div>

        <div class="user-class">
          <ion-icon name="mail" item-start></ion-icon>
          {{ user.Email }}
        </div>

        <div class="user-class">
          <ion-icon name="call" item-start></ion-icon>
          {{ user.Mobile }}
        </div>

        <div class="user-class" *ngIf="user.Gender">
          <ion-icon name="person" item-start></ion-icon>
          {{ user.Gender }}
        </div>

        <div class="user-class">
          <ion-icon name="calendar" item-start></ion-icon>
          {{ user.CreateDate | appDateFormat }}
        </div>

      </div>
      <div class="actions-container">
        <button class="action-button" ion-button outline (click)="navigateTo('EditProfilePage')">
          <ion-icon item-start name="md-create"></ion-icon>
          Edit Profile
        </button>
      </div>
    </div>
  </ng-container>
</ion-content>
