page-company-info {
  .item.item-block {
    margin-bottom: 10px;
    background: #f9f9f9;

    .item-inner{
      border-bottom:none;
    }
  }
  .list-ios .item-wrapper:last-child .item-block{
    border-bottom: none
  }
  .item-ios, .item-md{
    background-color: rgba(255, 255, 255, 0.9);
  }
  .card-md, .card-ios{
    background: rgba(255, 255, 255, 0.9);
    padding:0;
    margin:0;
    width: 100%;
    box-shadow: none;

    p{
      border-bottom: 1px solid #eee;
      padding-bottom:5px;
    }

    .card-content-md, .card-content-ios{
      padding:0;
    }
  }

  .card-header-md + .card-content-md, .card-header-ios + .card-content-ios{
    padding-top:15px;
  }
 .card-content >p >span{
  display: block;
  font-size: 12px;
  color: #000000;
  margin-bottom: 0px;
  font-weight: 500;
 }
  .item.item-block.teal {
    border-left: 4px solid #3BC7C4;
  }

  .item.item-block.blue {
    border-left: 4px solid #488aff;
  }

  .item.item-block.red {
    border-left: 4px solid #FE4C52;
  }

  .item.item-block.yellow {
    border-left: 4px solid #FED035;
  }

  .item.item-block.orange {
    border-left: 4px solid #FD8B2D;
  }

  .item.item-block.lightred {
    border-left: 4px solid #AC282B;
  }

  .item.item-block.green {
    border-left: 4px solid #008000;
  }

  .item.item-block.indigo {
    border-left: 4px solid indigo;
  }
  .list-ios ion-item-sliding, .list-md ion-item-sliding{
    background-color: transparent;
  }
}
