page-company-info {
  .item.item-block {
    margin-bottom: 5px;
  }

  .item.item-block.teal {
    border-left: 2px solid #3BC7C4;
  }

  .item.item-block.blue {
    border-left: 2px solid #488aff;
  }

  .item.item-block.red {
    border-left: 2px solid #FE4C52;
  }

  .item.item-block.yellow {
    border-left: 2px solid #FED035;
  }

  .item.item-block.orange {
    border-left: 2px solid #FD8B2D;
  }

  .item.item-block.lightred {
    border-left: 2px solid #AC282B;
  }

  .item.item-block.green {
    border-left: 2px solid #008000;
  }

  .item.item-block.indigo {
    border-left: 2px solid indigo;
  }
}
