<ion-header>
  <ion-navbar color="danger">
    <ion-title>{{ company?.name }}</ion-title>
    <ion-buttons end>
      <button ion-button color="white" icon-only (click)="AddCompanyMember()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment class="primary" [(ngModel)]="companySwitch">
      <ion-segment-button value="information">
        Information
      </ion-segment-button>
      <ion-segment-button value="member">
        Member
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="companySwitch">
    <div *ngSwitchCase="'information'">
      <ion-list>
        <ion-card>
          <ion-card-header text-capitalize style="font-weight: bold;">{{ company?.name }}</ion-card-header>
          <ion-card-content>
            <p>
              <b>Email</b>: {{ company?.email }}</p>
            <br/>
            <p>
              <b>Mobile no</b>: {{ company?.mobileno }}</p>
            <br/>
            <p>
              <b>Address</b>: {{ company?.address }}</p>
            <br/>
            <p>
              <b>City</b>: {{ company?.city }}</p>
            <br/>
            <p>
              <b>State</b>: {{ company?.state }}</p>
            <br/>
            <p>
              <b>Country</b>: {{ company?.country }}</p>
            <br/>
            <p>
              <b>CreatedDate</b>: {{ company?.createdDate | appDateFormat }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <ion-fab right bottom>
        <button ion-fab color="danger">
          <ion-icon name="arrow-dropup"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button ion-fab>
            <ion-icon name="create" color="primary"></ion-icon>
          </button>
          <button ion-fab (click)="deleteCompany()">
            <ion-icon name="trash" color="danger"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>
    </div>

    <div *ngSwitchCase="'member'">
      <ion-refresher (ionRefresh)="refreshAll($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item *ngFor="let companyMember of companyMemberList" #slidingItem button>
          <ion-label>
            <h3>{{ companyMember.email }}</h3>
            <p>
              {{ companyMember.createdDate | appDateFormat }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>


</ion-content>
