<ion-header>
  <ion-navbar color="primary">
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Change Password </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" no-padding>
  <ng-container>
    <div class="list-container" padding>
      <ion-list>
        <ion-item>
          <ion-label stacked>Old password</ion-label>
          <ion-input [(ngModel)]="user.oldPassword" name="oldPassword" type="password" placeholder="Old Password"
            required min="6"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>New Password</ion-label>
          <ion-input [(ngModel)]="user.newPassword" name="newPassword" type="password" placeholder="New Password"
            required min="6"></ion-input>
        </ion-item>

        <div class="button-container" padding>
          <button [disabled]="isUpdating" (click)="submit()" ion-button round color="primary">{{ isUpdating ? 'Updating...':
            'Update Password'
            }}</button>
        </div>
      </ion-list>
    </div>
  </ng-container>
  <footer></footer>
</ion-content>
