page-change-password {
  .item-md, .item-ios{
    padding-left:0;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

  }
}
