<!-- <ion-split-pane> -->
  <ion-menu [content]="content" side="left" id="myMenu">
    <ion-header>
      <ion-toolbar>
        <ion-title color="white">Event Manager</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list no-lines>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.active]="checkActivePage(p)">
          <i class="fa {{p.icon}} font-awesome" item-left aria-hidden="true"></i>
          {{ p.title }}
        </button>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col menuClose>T & C</ion-col>
          <ion-col menuClose>Privacy</ion-col>
          <ion-col menuClose>
            <ion-icon name="share"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-menu>

  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" class="my-navbar"></ion-nav>

<!-- </ion-split-pane> -->
