.font-awesome {
  font-size: 20px;
  color: map_get($colors, danger) !important;
}

* ::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-user-select: text;
  user-select: text;
}


html,
body {
  overflow-x: hidden;
}

.scroll-content {
  @media screen and (min-width: '720px') {
    width: 720px;
    min-width: 720px;
    max-width: 720px;
    margin: auto;
  }
}

ion-modal {
  .modal-wrapper {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
    display: block;
    width: 100% !important;
    height: 100% !important;

    @media screen and (min-width: '720px') {
      width: 720px !important;
    }
  }
}

ion-list {
  margin: 0 !important;
}

button.item.active ion-icon {
  font-weight: bold;
}
