#myMenu .toolbar .toolbar-background,
.danger {
  background-color: map_get($colors, danger) !important;
}

.font-awesome {
  font-size: 20px;
  color: map_get($colors, danger) !important;
}

* ::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-user-select: text;
  user-select: text;
}

.toolbar-title-md {
  color: map_get($colors, white) !important;
}