<ion-header>
  <ion-navbar color="danger">
    <ion-title>Add Event</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form novalidate [formGroup]="eventForm" (ngSubmit)="addEvent(eventForm.value, eventForm.valid)">
    <ion-item [ngClass]="{'error-border':!eventForm.controls.title.valid && eventForm.controls.title.touched}">
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" formControlName="title" [ngClass]="{'error-border':!eventForm.controls['title'].valid}" ></ion-input>
    </ion-item><br />
    <div class="error-box" *ngIf="eventForm.controls['title'].hasError('required') && eventForm.controls['title'].touched">*
      Title is required!</div>
    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Startdate</ion-label>
      <ion-datetime type="text" displayFormat="M/D/YYYY HH:MM" pickerFormat="M/D/YYYY HH:MM" formControlName="startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Enddate</ion-label>
      <ion-datetime type="text" displayFormat="M/D/YYYY HH:MM" pickerFormat="M/D/YYYY HH:MM" formControlName="endDate"></ion-datetime>
    </ion-item>
    <button type="submit" ion-button block color="primary" [disabled]="!eventForm.valid"> Add Event </button>
  </form>
</ion-content>
