<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ editMode ? 'Update Event' : 'Create Event' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form novalidate [formGroup]="eventForm" (ngSubmit)="addEvent(eventForm.value, eventForm.valid)">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input required type="text" formControlName="name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea required type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Price</ion-label>
      <ion-input required type="number" formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Vanue</ion-label>
      <ion-textarea required type="text" formControlName="vanue"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Start date</ion-label>
      <ion-datetime required displayFormat="M/D/YYYY" pickerFormat="M/D/YYYY" formControlName="startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime required displayFormat="hh:mm A" pickerFormat="hh:mm A" formControlName="startTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime required displayFormat="M/D/YYYY" pickerFormat="M/D/YYYY" formControlName="endDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime required displayFormat="hh:mm A" pickerFormat="hh:mm A" formControlName="endTime"></ion-datetime>
    </ion-item>

    <button type="submit" class="event-button" ion-button block [disabled]="!eventForm.valid" *ngIf="!editMode" (click)="addEvent(eventForm.value, eventForm.valid)">{{
      editMode ? 'Update' : 'Create' }}</button>

    <button type="button" ion-button block color="secondary" (click)="cancel()">Cancel</button>
  </form>
</ion-content>
