<ion-header>
  <ion-navbar color="primary">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce has-bouncing="false">
  <div class="forgot-password-form">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submit(resetPasswordForm.value, resetPasswordForm.valid)">
      <div class='section'>
        <ion-item no-padding>
          <ion-label stacked>Email Address</ion-label>
          <ion-input type="email" required formControlName="email" name="email" placeholder="Email"></ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label stacked>Verification Code</ion-label>
          <ion-input type="text" required formControlName="code" name="code" placeholder="Verification Code"></ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label stacked>Password</ion-label>
          <ion-input type="password" required min="6" formControlName="password" name="password" placeholder="Password"></ion-input>
        </ion-item>

        <ion-buttons margin-top>
          <button ion-button color="secondary" type="submit" block [disabled]="!resetPasswordForm.valid">Submit</button>
          <button ion-button color="primary" type="button" block (click)="goToLogin()">Login</button>
        </ion-buttons>
      </div>
    </form>
  </div>
</ion-content>
