<ion-content class="resetpassword" no-bounce>
  <div text-center>
    <ion-img width="120" height="120" src="../../assets/imgs/logo-icon.png" class="logo"></ion-img>
  </div>
  <ion-card>
    <ion-card-header text-center [style.background-color]="'#c9c5cc'" color="light">Forgot Password</ion-card-header>
    <form novalidate [formGroup]="resetPasswordForm" (ngSubmit)="submit(resetPasswordForm.value, resetPasswordForm.valid)">
      <ion-list no-lines>
        <ion-item>
          <ion-label for="email" floating></ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div padding>
          <button type="submit" ion-button block color="primary" [disabled]="!resetPasswordForm.valid">Forgot Password</button>
          <button type="button" ion-button block (click)="goToLogin()">Login</button>
        </div>
      </ion-list>
    </form>
  </ion-card>
</ion-content>
