<ion-header>
  <ion-navbar color="danger">
    <ion-title>{{ isAddOrEdit }} Company</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form novalidate [formGroup]="companyForm" (ngSubmit)="Submit(companyForm.value, companyForm.valid)">
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" formControlName="name" [(ngModel)]="company.name"></ion-input>
    </ion-item><br />
    <div class="error-box" *ngIf="companyForm.controls['name'].hasError('required') && companyForm.controls['name'].touched">*
      Name is required!</div>
    <button type="submit" ion-button block color="danger"> {{ isAddOrEdit }} Company </button>
  </form>
</ion-content>
