<ion-header>
  <ion-navbar color="primary">
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Event List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="eventList != undefined && eventList != null">
    <ion-toolbar>
      <ion-title>My Events</ion-title>
    </ion-toolbar>
    <ion-item *ngFor="let event of eventList" (click)="goToEventDetail()">
      <ion-icon name="book" danger item-left></ion-icon>
      <h2>{{event.title}}</h2>
      <h3>{{event.startDate}}, {{event.endDate}}</h3>
      <p>{{event.description}}</p>
    </ion-item>
  </ion-list>
</ion-content>
