page-event-list {
   
    .card-md, .card-ios{
        box-shadow:none;
        border-bottom: 1px solid #eee;
    
    .card-content-md, .card-content-ios{
        padding: 0 0 13px 0px;
        

        p{
            color: #676767;
            font-size:13px;
        }
        .card-title-md, .card-title-ios{
            margin:0;
            line-height:1;
        }
    }
    .event-name{
        width: 100%;
        display: block;
        color: #a9188f;
        font-size: 16px;
        font-weight: 500;
    }
    .event-time{
        color: #0e6b90;
        font-size:12px;
    }
}
.card-ios{
    .event-name{
        margin-bottom: 3px;
    }
}
}