<ion-header>
  <ion-navbar color="danger">
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Event List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar placeholder="Search" [(ngModel)]="queryText">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-refresher (ionRefresh)="refreshAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="eventList != undefined && eventList != null">
    <ion-card *ngFor="let event of eventList">
      <ion-item text-capitalize (click)="goToEventDetail()">
        <h2>{{ event.title }}</h2>
      </ion-item>
      <ion-card-content>
        <p>{{ event.description }}</p>
        <h3>{{ event.startDate }}, {{ event.endDate }}</h3>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
