<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Event </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let event of eventList">
    <ion-card-content>
      <ion-card-title>
        <span text-left text-capitalize> {{ event.Name }} </span>
        <span text-right style="font-size: 14px;"> {{ event.StartTime }} -
          {{ event.EndTime }} </span>
      </ion-card-title>
      <p> {{ event.Description }} </p>
    </ion-card-content>
  </ion-card>
</ion-content>
