page-company-member {
  .item-md, .item-ios{
    padding-left:0;

  }
  .company-button {
    margin: 15px 5px;
  }
  .button-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
