<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add Company Member</ion-title>
  </ion-navbar>
</ion-header>
<!--
<ion-content>
  <form novalidate [formGroup]="companyMemberForm" (ngSubmit)="addCompanyMember(companyMemberForm.value, companyMemberForm.valid)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list no-lines>s
            <ion-item>
              <ion-label>Company Name : {{ companyName }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label stacked>Enter email address</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
              <ion-label>
                <p class="danger" *ngIf="companyMemberForm.controls.email.errors?.required && companyMemberForm.controls.email.dirty">This
                  field is required</p>
                <p class="danger" *ngIf="companyMemberForm.controls.email.errors?.validateEmail && companyMemberForm.controls.email.dirty">This
                  must be a valid e-mail</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer class="stick-footer">
  <ion-toolbar>
    <button type="button" ion-button full color="primary" (click)="addCompanyMember(companyMemberForm.value, companyMemberForm.valid)">Add
      Member</button>
    <button type="button" ion-button full color="primary" (click)="cancel()">Cancel</button>
  </ion-toolbar>
</ion-footer> -->

<ion-content padding>
  <form novalidate [formGroup]="companyMemberForm" (ngSubmit)="addCompanyMember(companyMemberForm.value, companyMemberForm.valid)">
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
    </ion-item>
<div class="button-container">
    <button type="submit" class="company-button" [disabled]="!companyMemberForm.valid" ion-button round color="primary">{{
      isUpdating ? 'Submitting...' : 'Submit' }}</button>
    <button type="button" class="company-button" ion-button round color="secondary" (click)="cancel()">Cancel</button>
  </div>
  </form>
</ion-content>
